@import url('https://fonts.googleapis.com/css2?family=Inter&family=Libre+Baskerville&display=swap');


/* code to remove default margins, borders and padding */
* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Inter, sans-serif;
    font-weight: 300;
    color: #634c36;
}


h1,
h2 {
    font-family: Libre-Baskerville, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #523f2e;
}

.trademark {
    float: left;
    font-size: 280%;
}

.nav-links {
    font-size: 105%;
    letter-spacing: 3px;
    float: right;
}

.nav-links,
.trademark {
    line-height: 75px;
    /* This horizontally aligns both the header and the nav bar elements */
}

.nav-links li {
    float: left;
    list-style-type: none;
    /* This removes the bullet points which are the default for ul lists */
    margin-right: 30px;
}

.nav-links a {
    text-decoration: none;
    /* Removes the underline default for hyperlinks */
    color: inherit;
}

.nav-links a:hover {
    border-bottom: 1px solid #634c36;
    font-weight: bold;
}

.active {
    border-bottom: 1px solid #634c36;
}

/* Open book image, home page */

.open-book-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.image-text1,
.image-text1 h2 {
    color: #3a3a3a;
}

.image-text2,
.image-text2 h2 {
    color: #3a3a3a;
}

#open-book {
    height: 600px;
    background: url('../images/open_book.jpg') no-repeat center center;
    background-size: 100% 100%;
}

.image-text1 {
    font-size: 130%;
    font-family: Libre-Baskerville, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    top: 75px;
    left: 290px;
    position: absolute;
}

.image-text2 {
    font-size: 130%;
    font-family: Libre-Baskerville, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    top: 75px;
    right: 250px;
    position: absolute;
}

/* About page turner section */


.all-about {
    height: 600px;
}

.left-about {
    float: left;
    width: 33%;
    padding-top: 30px;
}

.right-about {
    float: right;
    width: 33%;
    padding-top: 30px;
}

.center-image {
    width: 33%;
    margin: 0 auto;
}

.left-about-header {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-header {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.about {
    font-size: 280%;
    text-align: center;
    padding: 10px;

}

.image-container {
    padding: 30px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.image-cover {
    background: url('../images/books.jpg') center center;
    height: 100%;

}

.users{
    font-size: 280%;
    text-align: center;
    padding: 10px;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100px;
}
