@import url('https://fonts.googleapis.com/css2?family=Inter&family=Libre+Baskerville&display=swap');


/* code to remove default margins, borders and padding */
*{
    margin: 0;
    padding: 0;
    border: none;
}


body{
    font-family: Inter, sans-serif;
    font-weight: 300;
}
